<%- include('layout',{title}) -%>
<link rel="stylesheet" href="/stylesheets/confirm_delete_category_form.css">

<%
const hasMultipleInstruments=categories.length>1;
const messagePart2=hasMultipleInstruments?'You can delete all of them or change their category.':'You can delete it or update its category.';
%>

<main>
    <div class="instruction-container">
        <img class="info-icon" src="/images/info.svg" alt="info">
        <div class="instruction">
            <p>The following instrument(s) depend(s) on the corresponding category.</p>
            <p><%=messagePart2%></p>
        </div>
    </div>

   <form method="post" action="/category/deleteWithInstruments">
        <input type="hidden" name="categoryIds" value="<%=categoryIds%>">
        <%for(const [categoryName,instruments] of Object.entries(instrumentMap)){%>
            <fieldset>
                <legend><%=categoryName%></legend> 
                <%for(const instrument of instruments){%>
                    <input type="hidden" name="instrumentIds" value="<%=instrument.id%>">
                    <div class="instrument-preview">
                        <a aria-label="instrument page" href="<%='/instrument/'+instrument.id%>">
                            <img class="instrument-img" src="<%= instrument.img_url %>" alt="instrument" />
                        </a>
                        <p><%=instrument.name%></p>
                    </div>
                <%}%>
            </fieldset>
        <%}%>
        <p>Are you sure you want to delete the categories
            <%for(const category of categories){%>
                <span><%=category.name%></span>
            <%}%>
        </p>
        <button>Delete<%=hasMultipleInstruments?' All':''%></button>
    </form>
</main>