<%- include('layout',{title}) -%>
<link rel="stylesheet" href="/stylesheets/confirm_delete_category_form.css">

<%
const hasMultipleInstruments=categories.length>1;
const messagePart2=hasMultipleInstruments?'You can delete all of them or change their category.':'You can delete it or update its category.';
%>

<main>
    <div class="instruction-container">
    
        <img class="info-icon" src="/images/info.svg" alt="info">
    
    <div class="instruction">

    <p>The following instrument(s) depend(s) on the corresponding category.</p>
    <p>
        <%=messagePart2%>
    </p>
    </div>
    
    </div>

   <form method="post" action="/category/deleteWithInstruments">
        <%for(const categoryId of categoryIdsWithoutDependentInstruments ){%>
            <input type="hidden" name="categoryIds" value="<%=categoryId%>">
        <%}%>
        <%for(const category of categories){%>
            <input type="hidden" name="categoryIds" value="<%=category._id%>">
            <fieldset>
                <legend><%=category.name%></legend> 
                <%for(const instrument of instrumentMap[category._id]){%>
                    <input type="hidden" name="instrumentIds" value="<%=instrument._id%>">
                    <div class="instrument-preview">
                        <a aria-label="instrument page" href="<%='/instrument/'+instrument._id%>">
                            <img class="instrument-img" src="<%= instrument.imgUrl %>" alt="instrument" />
                        </a>
                        <p><%=instrument.name%></p>
                    </div>
                <%}%>
            </fieldset>
        <%}%>
        <button>Delete<%=hasMultipleInstruments?' All':''%></button>
    </form>
</main>