<%- include('layout',{title}) %> 

<link rel="stylesheet" href="/stylesheets/create_instrument_form.css">
<script src="/javascripts/create_instrument_form.js" defer></script>

<% const
postUrl='/instrument/'+(isCreateForm?'create':_id+'/update'); const
_idForForm=isCreateForm?Date.now().toString():_id; %>

<main>
  <form method="post" enctype="multipart/form-data" action="<%=postUrl%>">
    <input required type="hidden" name="_id" value="<%=_idForForm%>" />
    
    <div class="fields">

    <p class="field">
      <label for="name">Name </label>
      <input required  type="text" name="name" id="name" value="<%=name%>" />
    </p>
    <p class="field">
      <label for="description">Description </label>
      <textarea required  name="description" id="description"><%=description%></textarea>
    </p>
    <p class="field">
      <label for="category">Category </label>
      <select required  name="category" id="category">
        <%for(const category of categories){ if(!isCreateForm &&
        category._id===currentCategoryId){ %>

        <option selected value="<%=category._id%>"><%=category.name%></option>
        <%}else{%>
        <option value="<%=category._id%>"><%=category.name%></option>
        <%}%> <%}%>
      </select>
    </p>
    <p class="field">
      <label for="price">Price </label>
      <input required  type="number" name="price" min="0" id="price" value="<%=price%>" />
    </p>
    <p class="field">
      <label for="count">Count </label>
      <input required  type="number" name="count" min="0" id="count" value="<%=count%>" />
    </p>
    <p class="field image">

      <label for="image_file">Image</label>
      <%if(isCreateForm){%>
          <input required type="file" accept="image/*" name="image_file" id="image_file" />
      <%}else{%>
        <input type="hidden" name="imgUrl" id="image_url" value="<%=imgUrl%>">
        <span class="image-input">
          <input class="invisible" type="file" accept="image/*" name="image_file" id="image_file" />
          <img id="image_input_preview" src="<%=imgUrl%>" alt="<%=name%>">
          <span class="image-controls">
            
            <button title="change" id="open_file_browser" type="button">
              <img class="change-icon" src="/images/change.svg" alt="change symbol">
            </button>
            <button type="button" id="reset_image" title="reset">
              <img class="reset-icon" src="/images/reset.svg" alt="reset symbol"> 
            </button>
          
          </span>
        </span>
      <%}%>
    
    </p>

    </div>

    <button><%=isCreateForm?'Create':'Update'%></button>
  </form>
</main>
