<%- include('layout',{title}); -%>
<script defer src="/javascripts/index.js"></script>
<link rel="stylesheet" href="/stylesheets/index.css" />
<main>
  <div class="select-category">
    <form id="select-category-form" method="get" action="/filter">
      <fieldset>
        <legend>Select Category</legend>
        
        <div class="fields">
        
        <% for(const category of categories){ const catId='category_' +
        category.name %>
          
        <p class="field">
          <input
          type="checkbox"
          value="<%=category._id%>"
          name="selected_categories"
          id="<%=catId%>"
        />
        <label for="<%=catId%>"> <%=category.name%> </label>
          </p>
        <%}%>
          
        </div>
        
        <div class="action-buttons">
          
        <button>Get</button>
        <button formmethod="get" formaction="/category/create">Create</button>
        <button formmethod="get" formaction="/category/update">Update</button>
        <button formmethod="post" formaction="/category/delete">Delete</button>
        
        </div> 
      </fieldset>
    </form>
  </div>
  <form class="create-instrument-form" method="get" action="/instrument/">
    <button title="create new instrument" aria-label="create new instrument">+</button>
  </form>
  <div class="category-instruments">
    <%for(const instrument of instruments){%>
    <article class="instrument">
      <a href="<%= '/instrument/'+ instrument._id %>">
        <img
          class="instrument-img"
          src="<%=instrument.imgUrl%>"
          alt="instrument image"
        />
      </a>
      <div class="instrument-info">
        <p>
         <span class="label">Name</span> 
         <span class="value"><%=instrument.name%></span> 
        </p>
        <p>
         <span class="label">Price(INR)</span> 
         <span class="value"><%=instrument.price%></span> 
        </p>
        <p>
         <span class="label">In Stock</span> 
         <span class="value"><%=instrument.count%></span> 
        </p>
      <a href="<%= '/instrument/'+ instrument._id %>">Read More</a>
      </div>
    </article>
    <%}%>
  </div>
</main>
