<%- include('layout',{title}); -%>
<link rel="stylesheet" href="/stylesheets/index.css" />
<main>
  <h1><%=title%></h1>
  <h2>Grouped By Categories</h2>
  <% for(const category of categories){%>
  <section class="category">
    <h3><%=category.name%></h3>
    <div class="category-instruments">
      <%for(const instrument of instruments){%>
      <article class="instrument">
        <a href="<%= '/instrument/'+ instrument._id %>">
          <img
            class="instrument"
            src="<%=instrument.imgUrl%>"
            alt="instrument image"
          />
        </a>
        <div class="instrument info">
          <p><%=instrument.name%></p>
          <p><%=instrument.price%></p>
          <p><%=instrument.count%> in stock</p>
        </div>
      </article>
      <%}%>
    </div>
  </section>
  <%}%>
</main>
