<%- include('layout',{title}) %>

<link rel="stylesheet" href="/stylesheets/instrument.css" />

<main>
  <img src="<%= imgUrl %>" alt="instrument" />
  <p><%=name%></p>
  <p><%=description%></p>
  <p><%=price%></p>
  <p><%=count%></p>
</main>
