<%- include('layout',{title}) %>

<link rel="stylesheet" href="/stylesheets/instrument.css" />

<main>
  <img class="instrument-img" src="<%= imgUrl %>" alt="instrument" />
  <div class="instrument-info">

  <p class="info">
    <span class="label">Name</span>
    <span class="value"><%=name%></span>
  </p>
  <p class="info">
    <span class="label">Description</span>
    <span class="value"><%=description%></span>
  </p>
  <p class="info">
    <span class="label">Count</span>
    <span class="value"><%=count%></span>
  </p>
  <p class="info">
    <span class="label">Category Name</span>
    <span class="value"><%=category.name%></span>
  </p>
  <p class="info">
    <span class="label">Category Description</span>
    <span class="value"><%=category.description%></span>
  </p>
  
  <form action="<%='/instrument/'+_id+'/update'%>" method="get">
    <input type="hidden" name="_id" value="<%=_id%>" />
    <button>Update</button>
    <button formaction="<%='/instrument/'+_id+'/delete'%>" formmethod="post">
      Delete
    </button>
  </form>
  </div>
</main>
