<%- include('layout',{title}) %>

<link rel="stylesheet" href="/stylesheets/instrument.css" />

<main>
  <img class="instrument-img" src="<%= imgUrl %>" alt="instrument" />
  <p><%=name%></p>
  <p><%=description%></p>
  <p><%=price%></p>
  <p><%=count%></p>
  <form action="<%='/instrument/'+_id+'/update'%>" method="get">
    <button>Update</button>
  </form>
</main>
