<%- include('layout',{title}) %>

<link rel="stylesheet" href="/stylesheets/instrument.css" />

<main>
  <img class="instrument-img" src="<%= imgUrl %>" alt="instrument" />
  <p><%=name%></p>
  <p><%=description%></p>
  <p><%=price%></p>
  <p><%=count%></p>
  <form action="<%='/instrument/'+_id+'/update'%>" method="get">
    <input type="hidden" name="_id" value="<%=_id%>" />
    <button>Update</button>
    <button formaction="<%='/instrument/'+_id+'/delete'%>" formmethod="post">
      Delete
    </button>
  </form>
</main>
