<%- include('layout',{title}) %> <% const isCreateForm=_id===null;
console.log(isCreateForm); const
postUrl='/instrument/'+(isCreateForm?'create':_id+'/update'); const
_idForForm=isCreateForm?Date.now().toString():_id; %>
<main>
  <h1><%=title%></h1>
  <form method="post" action="<%=postUrl%>">
    <input type="hidden" name="_id" value="<%=_idForForm%>" />
    <p class="field">
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" value="<%=name%>" />
    </p>
    <p class="field">
      <label for="description">Description: </label>
      <textarea name="description" id="description"><%=description%></textarea>
    </p>
    <p class="field">
      <label for="price">Price: </label>
      <input type="number" name="price" min="0" id="price" value="<%=price%>" />
    </p>
    <p class="field">
      <label for="count">Count: </label>
      <input type="number" name="count" min="0" id="count" value="<%=count%>" />
    </p>
    <button><%=isCreateForm?'Create':'Update'%></button>
  </form>
</main>
