<%- include('layout',{title}) %>

<link rel="stylesheet" href="/stylesheets/update_category_form.css">

<main>
  <form method="post" action="/category/update">
    <%for(const category of categories){%>

    <input type="hidden"
          name="<%='categories['+category._id+'][_id]'%>"
          value="<%=category._id%>">
    <input type="hidden"
          name="<%='categories['+category._id+'][url]'%>"
          value="some url">
    <fieldset>
      <legend><%=category.name%></legend>
      <div class="category-update-form">
        <p class="field">
          <label for="<%='name_'+category.name%>">Name</label>
          <input
            type="text"
            name="<%='categories['+category._id+'][name]'%>"
            id="<%='name_'+category.name%>"
            value="<%=category.name%>"
          />
        </p>
        <p class="field">
          <label for="<%='description_'+category.name%>">Description</label>
          <textarea
            name="<%='categories['+category._id+'][description]'%>"
            name="category_descriptions"
            id="<%='description_'+category.name%>"
          >
<%=category.description%></textarea
          >
        </p>
      </div>
    </fieldset>

    <%}%>
    <button>Update</button>
  </form>
</main>
